# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
build/

# Data (не коммитим данные)
data/raw/
data/synthetic/
data/processed/

# Tools
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store

configs/remote.yaml
.env
